<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>ตรวจสอบผลการเรียน</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<link rel="stylesheet" href="vendors/flaticon/flaticon.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="button-group-area mt-40">
		<a href="/" class="genric-btn default circle">ย้อนกลับ</a>
	</div>
	<!--================Contact Area =================-->
        <section>
            <div class="container text-center">
				<h3>ตรวจสอบผลการเรียน</h3>
				<div class="section-top-border">
					<div class="row">
						<div class="col-md-4">
							<div class="single-defination">
								<h4 class="mb-20">ชื่อ-นามสกุล : <%= name %></h4>
							</div>
						</div>
						<div class="col-md-4">
							<div class="single-defination">
								<h4 class="mb-20">รหัสประจำตัวนักเรียน : <%= results[0].student_number %></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<table id="result">
					<thead>
						<tr>
							<th scope="col">บทที่</th>
							<th scope="col">คะแนนแบบทดสอบ</th>
							<th scope="col">คะแนนใบงาน</th>
							<th scope="col">จำนวนครั้งที่เรียน</th>
						</tr>
					</thead>
					<tbody>
								<tr>
									<td>1</td>
									<td><%= results[0].test01 %></td>
									<td><%= results[0].work01 %></td>
									<td><%= results[0].round01 %></td>
								</tr>
								<tr>
									<td>2</td>
									<td><%= results[0].test02 %></td>
									<td><%= results[0].work02 %></td>
									<td><%= results[0].round02 %></td>
								</tr>
								<tr>
									<td>3</td>
									<td><%= results[0].test03 %></td>
									<td><%= results[0].work03 %></td>
									<td><%= results[0].round03 %></td>
								</tr>
								<tr>
									<td>4</td>
									<td><%= results[0].test04 %></td>
									<td><%= results[0].work04 %></td>
									<td><%= results[0].round04 %></td>
								</tr>
								<tr>
									<td>5</td>
									<td><%= results[0].test05 %></td>
									<td><%= results[0].work05 %></td>
									<td><%= results[0].round05 %></td>
								</tr>
								<tr>
									<td>6</td>
									<td><%= results[0].test06 %></td>
									<td><%= results[0].work06 %></td>
									<td><%= results[0].round06 %></td>
								</tr>
								<tr>
									<td>7</td>
									<td><%= results[0].test07 %></td>
									<td><%= results[0].work07 %></td>
									<td><%= results[0].round07 %></td>
								</tr>
								<tr>
									<td>8</td>
									<td><%= results[0].test08 %></td>
									<td><%= results[0].work08 %></td>
									<td><%= results[0].round08 %></td>
								</tr>
								<tr>
									<td>9</td>
									<td><%= results[0].test09 %></td>
									<td><%= results[0].work09 %></td>
									<td><%= results[0].round09 %></td>
								</tr>
								<tr>
									<td>10</td>
									<td><%= results[0].test10 %></td>
									<td><%= results[0].work10 %></td>
									<td><%= results[0].round10 %></td>
								</tr>
								<tr>
									<td colspan="2">
										<div class="button-group-area mt-40 text-right">
											<a href="#" class="genric-btn primary circle">ผลการเรียนก่อน</a> <%= results[0].pretest %> คะแนน
											<a href="#" class="genric-btn warning circle">ผลการเรียนหลัง</a> <%= results[0].posttest %> คะแนน
										</div>
									</td>
									<td rowspan="3">
										ค่าเฉลี่ยแบบทดสอบ<br>
										S.D.<br>
										ค่าเฉลี่ยใบงาน
									</td>
								</tr>
							</tbody>
						</table>
				<div class="button-group-area mt-40 text-right">
					<a href="#" class="genric-btn success circle btn" role="button">พิมพ์ผลคะแนน</a>
					<a href="/" class="genric-btn danger circle">ปิด</a>
				</div>
			</div>
        </section>
	<br>
    <!--================Contact Area =================-->

    <!--================Footer Area =================-->
	<%- include('partials/footermenu.ejs'); -%>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
	<script src="vendors/isotope/isotope-min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
	<script>
		$('.btn').click(function () {
			var printme = document.getElementById('result');
			var wme = window.open("", "", "width=900,height=700");
			wme.document.write(printme.outerHTML);
			wme.document.close();
			wme.focus();
			wme.print();
			wme.close();
		})
    </script>
</body>

</html>
